h1{background:orange;}
h2{background:orange; padding-left: 7px;}
h3{text-decoration:underline;}
body{font-family:'Open Sans'; padding-left:10%;width:80%;}
a{color:sienna;}
hr{width:30%;}
blockquote{padding:0px;margin:0px;
	   font-family:Bookman;
	   font-style:italic;
	   border:1px inset yellow;
	   width:80%;}
i{font-family:Bookman}
.src,.example{width:80%;}
.marks{text-align:right; 
       font-weight:bold; 
       position:relative; 
       top:-23pt;}